/*Encabezado header*/
.Header{
  margin: -0.5rem;
  margin-top: -1rem;
  background: #0d1a3b  ;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left,  #d7540f  , #0d1a3b  );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left,  #d7540f , #0d1a3b  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-height: 15%;
   display: flex;
 
  }
  .logo_header{
    max-height: 100%;
    max-width: 100px;
    object-fit: contain;
  }
.Cont_Button{
  
  margin-top: auto;
  max-height: 100%;
  margin-left: auto;
  display: grid;
  margin-right: 1rem;
  grid-template-columns: 50% 50%;
}
.Cont_Button button {
    max-width: 100%;
    position: relative;
    
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 100%;
    margin: 2em 1.5em;
  
    &.type3 {
      color: #0d1a3b;
  
      &::after,
      &::before {
        margin: -1rem;
        content: '';
        display: block;
        position: absolute;
        width: 20%;
        height: 20%;
        border: 5px solid;
        transition: all 0.6s ease;
        border-radius: 2px;
      }
  
      &::after {
        bottom: 0;
        right: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: #0d1a3b ;
        border-right-color: #0d1a3b ;
      }
  
      &::before {
        top: 0;
        left: 0;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: #0d1a3b ;
        border-left-color: #0d1a3b ;
      }
  
      &:hover::after,
      &:hover::before {
        border-bottom-color: #0d1a3b ;
        border-right-color: #0d1a3b ;
        border-top-color: #0d1a3b ;
        border-left-color: #0d1a3b ;
        width: 150%;
        height: 250%;
      }
    }
  }
  
